section {
	width: 100%;
	max-width: 1920px;
	margin: auto;	
	overflow: hidden;
	position: relative;
	padding: 75px 0;
	@media only screen and (max-width : $tw) {
		padding: 55px 0;
	}
	@media only screen and (max-width : $mw) {
		padding: 40px 0;
	}
}

.section-inner {
	max-width: 1200px;
	padding: 0 10px;
	width: 100%;
	margin: auto;
	position: relative;

	&.narrow {
		max-width: 850px;
	}
	&.wide {
		max-width: 1330px;
	}
}

.content {
	@include f-l;
	font-size: 18px;
	color: #27282A;
	line-height: 1.4;
	p,ul,li,h1,h2,h3,h4,h5,img {
		margin-top: 15px;
	}

	ul {
		list-style: disc;
    	padding-right: 25px;
	}



	img {
		max-width: 100%;
	}

	@media only screen and (max-width : $mw) {
		font-size: 16px;
	}
}

.centered {
	text-align: center;
}

.white {
	color: #fff;
}
.parts {
	display: flex;
	margin: 0 -45px;
	.part {
		width: 50%;
		padding: 0 45px;
		position: relative;
		&:nth-child(1) {
		}
		&:nth-child(2) {
		}
		.image, .video {
			position: relative;
			text-align: center;
			img {
				max-width: 100%;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		flex-wrap: wrap;
		.part {
			width: 100%;
			&:nth-child(2) {
				margin-top: 25px;
			}
		}
	}
}

.section-title {
	@include f-l;
	font-size: 34px;
	color: #1C1C1D;
	text-align: center;
	position: relative;
	&.decor-white {
		&:before {
			background: #fff;
		}
	}
	&.text-white {
		color: #fff;
		&:before {
			background: #3F4E66;
		}
	}
	&:before {
		content: "";
		background: #F4F6F8;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 40px;
		width: 110px;
		z-index: 1;
	}
	span {
		display: inline-block;
		margin: auto;
		position: relative;
		z-index: 2;
	}

	@media only screen and (max-width : $tw) {
		font-size: 30px;
	}
	@media only screen and (max-width : $mw) {
		font-size: 25px;
		&:before {
			height: 30px;
			width: 90px;
		}
	}
}

.title-2-lines {
	text-align: center;
	span {
		display: inline-block;
		margin: auto;
		position: relative;
		z-index: 2;
	}
	&.dark {
		color: #1C1C1D;
		.line-1 {
			&:before {
				background: #F4F6F8;
			}
		}
	}
	&.light {
		color: #1C1C1D;
		.line-1 {
			&:before {
				background: #F0DBCF;
			}
		}
	}
	color: #fff;
	.line-1 {
		position: relative;
		@include f-l;
		font-size: 34px;
		&:before {
			content: "";
			background: #3F4E66;
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: 40px;
			width: 110px;
			z-index: 1;
		}
	}

	.line-2 {
		@include f-l;
		font-size: 60px;
		line-height: 1;
	}

	@media only screen and (max-width : $lw) {
		.line-1 {
			font-size: 30px;
		}
		.line-2 {
			font-size: 45px;
		}
	}

	@media only screen and (max-width : $mw) {
		.line-1 {
			font-size: 25px;
			&:before {
				height: 30px;
				width: 90px;
			}
		}
		.line-2 {
			font-size: 35px;
		}
	}
}

.section-subtitle {
	@include f-r;
	font-size: 18px;
	line-height: 1.4;
	color: #1C1C1D;
	text-align: center;
	margin-top: 10px;
	@media only screen and (max-width : $tw) {
		font-size: 18px;
	}
	@media only screen and (max-width : $mw) {
		font-size: 16px;
	}
}


.loading:after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f1ce";
    animation: fa-spin .75s linear infinite;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    color: #227BC9;
    z-index: 2;
}

.play-button {
	@include flex-center;
	height: 85px;
	width: 85px;
	border-radius: 100%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 9;
	transition: 0.5s;
	cursor: pointer;
	i {
		transition: 0.5s;
	}
	&:hover {
		background: #232B3D;
		i {
			color: #fff;
		}
	}
}

.button-underline-hover {
	@include f-sb;
	font-size: 18px;
	color: #27282A;
	display: inline-block;
	position: relative;
	padding: 13px 35px;
	padding-top: 0;
	cursor: pointer;
	transition: 0.5s;
	white-space: nowrap;
	i {
		margin-right: 8px;
		font-size: 14px;
		columns: inherit;
		position: relative;
		z-index: 2;
	}
	span {
		position: relative;
		z-index: 2;
	}

	&.white {
		color: #fff;
	}

	&.white-line {
		&:after {
			background: #fff;
		}
		&:hover {
			color: #27282A;
		}
	}



	&:after {
		content: "";
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		height: 2px;
		background-color: #ECD2C2;
		transition: 0.5s;
	}

	&:hover {
		color: #fff;
		&:after {
			height: 45px;
		}
	}
}

.decor {
	position: absolute;
	img {
		max-width: 100%;
	}
	&.decor-text {
		max-width: 70%;
	}
}

#sm_menu_ham {
	float: left;
	left: auto;
	top: 11px;
	left: 7px;
	right: auto;
	position: static;
	span {
		background-color: #fff;
		height: 3px;
	}
}

.sm_menu_outer.accordion  {
	bottom: 0;
    height: auto;
    top: 115px;
	background-color: rgba(35, 43, 61, 0.97);
	background-image: url("../images/index/decor/menu.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	@include flex-center;
	&.slide .mobile_menu .sub-menu {
		background: #000;;
		height: 800px;
	}
	.mobile_menu {
		max-width: 400px;
		width: 300px;
    	margin: auto;
		text-align: center;
		li {
			border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0;
		}
		li.hasChild > a, li.back a {
			background-size: 20px;
			&::before {
				right: auto;
				left: 0;
				top: 17px;
				transform: rotate(-90deg);
				background-size: 10px;
			}
		}
		a {
			@include f-r;
			padding: 15px 15px;
			font-size: 18px;
		}
		.current_page_item {
			>a {
				@include f-b;
			}
		}

		.sub-menu {
			.menu-item {
				&:first-child {
					margin-top: -10px;
				}
				a {
					font-size: 16px;
					padding: 10px 10px;
					&::before {
						top: 10px;
					}
					
				}
			}
			

		}
	}
}

.sm_menu_outer.slide .mobile_menu li.hasChild > a {
    background: url(../plugins/mmenu/images/next.png) no-repeat scroll 10px center / 5% auto;
}

.sm_menu_outer .mobile_menu li.back a {
    padding: 20px 45px 20px 5px;
    background: url(../plugins/mmenu/images/back.png) no-repeat scroll right 15px center / 5% auto;
}


.wrap-scrolldownhoney {
	left: 50%;
	position: absolute;
	text-align: center;
	bottom: 20px;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 3;
	&.dark {
		.scrolldownhoney {
			border-color: #797778;
			.scrolldownhoney-c1,
			.scrolldownhoney-c2 {
				fill: #797778;
			}
			line {
				stroke: #797778;
			}
		}
	}
	.scrolldownhoney {
		border: 2px solid #fff;
		border-radius: 30px;
		height: 46px;
		margin: 0 auto 8px;
		text-align: center;
		width: 30px;
		.scrolldownhoney-c1,
		.scrolldownhoney-c2 {
			animation-duration: 1.5s;
			animation-name: scrolldownhoney;
			animation-iteration-count: infinite;
			fill: #fff;
		}

		line {
			stroke: #fff;
			stroke-width:2;
			stroke-linecap: round;
			animation-duration: 2s;
			animation-name: scrolldownhoney;
			animation-iteration-count: infinite;
		}
	}
  
	.scrolldownhoney-c2 {
		animation-delay: .75s;
	}

	@media only screen and (max-width : $lw) {
		bottom: -20px;
		.scrolldownhoney {
			transform: scale(0.75);
		}
	}
}

@keyframes scrolldownhoney {
	0%{
		opacity: 0;
		transform:translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}

.wait-for-scroll {
	position: relative;
	transform: translateY(90px);
	opacity: 0;
	transition-duration: 0.5s;
	&.scrolled {
		transition-duration: 1s;
		transform: translateY(0);
		opacity: 1;
	}
}

/*
.fp-tableCell {
	display: flex;
	justify-content: center;
	align-items: center;
}
*/




body.fp-viewing-categories, body.fp-viewing-personal, body.fp-viewing-weddings {
	#fp-nav ul li a span, .fp-slidesNav ul li a span {
		background: #fff;
	}
}



